
body {
  background-color: #f1faee;
}

header {
  background-color: #003566;
}
#addCity{
  display: none;
}

#btnAddCity{
  background-color: #001d3d;
  height: 48px;  
}
#printcity{
  /* background-color: #001d3d; */
  color:#001d3d;
  margin: 10px;
  font-size: 20px;
}
Footer {
  background-color: #003566;
}
section{
  /* background-image: url("../Assets/images/pic2.jpg");
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #f1faee;
}



#Username{
    color: white;
    background-color: #003566;
}
#Username::placeholder { 
    color: white !important;
   
  }
#email::placeholder { 
    color: white !important;
   
  }
#password::placeholder { 
    color: white !important;
   
  }
#pasword::placeholder {
    color: white !important;
   
  }
span{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #003566;
}
#icon{
    color: white;
    width: 15%;
    border-radius: 4px;
    
}
#login{
  background-color: deepskyblue;
}